body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("coolBackground.jpg");
    background-size: 140%;
    margin: 0;
    padding: 0;
}
#logo{
    height: 5%;
    position: fixed;
    left: 10px;
    top: 10px;
    cursor: pointer;
}
p{
    font-family: sans-serif;
    position: absolute;
    bottom: 0px;
    right: 15px;
    font-size: 10px;
}
.headings{
    display: flex;
    position: absolute;
    top: 15%;
    color: #9d1c1c;
    font-family: 'Silkscreen', sans-serif;
}
#question{
    display: block;
}
#yayy{
    animation: blink 2s linear infinite;
}
#yay{
    text-shadow: 0 0 10px #f66b6b, 0 0 20px #f66b6b, 0 0 30px #f66b6b;
    color: #b90e0e;
    display: none;
}
h1{
    font-size: 70px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    background-color: #b2eec8;
    color: #333333;
    font-family: 'Silkscreen', sans-serif;
    font-weight: bold;
    top: 40%;
}
#button-1{
    position: absolute;
    margin-right: 300px;
    animation: attention 2s linear infinite;
    cursor: pointer;
}
#button-2{
    position: absolute;
    margin-left: 300px;
    transition: 0.5s;
}
#the-gifs{
    display: flex;
    justify-content: center;
}
#girl{
    position: absolute;
    bottom: 10px;
    z-index: -1;
}
#heart{
    display: none;
}
@keyframes attention {
    0%{
        box-shadow: none;
    }
    30%{
        box-shadow: 0 0px 30px 15px #ebcf55;
    }
    50%{
        box-shadow: 0 0px 30px 20px #e9c831;
    }
    70%{
        box-shadow: 0 0px 30px 15px #ebcf55;
    }
    100%{
        box-shadow: none;
    }
}
@keyframes blink {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@media only screen and (max-width:768px){
    body{
        height: 100vh;
        background-size: auto 100%;
    }
    .btn{
        width: 70px;
    }
    #button-1{
        margin-left: 130px;
    }
    #button-2{
        margin-right: 130px;
    }
    h1{
        margin: 10px;
        font-size: 30px;
    }
    #girl{
        width: 90%;
        height: auto;
        position: absolute;
        bottom: 0px;
    }
    .btn {
        padding: 10px 18px;
        font-size: 12px;
    }
}